/*
Theme Name: Bigshow
Theme URI: http://themerail.com/wp/theme/bigshow
Author: CodePassenger
Author URI: http://themeforest.net/user/codepassenger
Description: Movie and Cinema Theme
Version: 1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bigshow
Tags: theme-options, post-formats, featured-images
*/

/*=======================================
	Table of Content
==========================================
/*
    1 - Post Comment

    2 - 404 Page

    3 - Widget

	4 - Gallery
	
	5 - Post Entry
	
	6 - contact form


*/

/*=======================================
	1 - Post Comment
=========================================*/

@font-face {
  font-family: JAZEERA;
  src: url(fonts/JAZEERA.ttf);
}
*{font-family: JAZEERA;}

.comment-body .comment-reply-link{
	font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    width: 100px;
    height: 35px;
    line-height: 35px;
    border-radius: 17px;
    text-align: center;
    background-color: #eb1436;
    display: inline-block;
    margin-top: 10px;
}
.navigation.pagination{
    margin: 0;
}

ul.page-number .page-numbers{
    text-align: center;
}
/*=======================================
	2 - 404 Page
=========================================*/

.page-not-found {
    text-align: center;
}
.page-not-found p{
    margin-top:20px;
    margin-bottom:20px;
}
.page-not-found h3 {
    background: #eb1436;
    font-size: 120px;
    display: inline-block;
    color: #fff;
    padding: 0px 25px 20px 25px;
}

.page-not-found h3 li {
    display: inline-block;
}

.page-not-found h4 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 700;
}
.page-not-found a.btn.btn-primary{
    color: #fff;
    background-color: #eb1436;
    border-color: #eb1436;
}
/*=======================================
	3 - Widget
=========================================*/
.search-form button[type="submit"],
.widget_search button[type="submit"]{
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    color: #333;
    border: none;
    width: 50px;
    height: 45px;
    text-align: center;
    line-height: 43px;
    font-size: 12px;
    border: 1px solid #ddd;
}
.widget .navbar-form.navbar-left{
    padding: 0;
    width: 100%;
}
.widget .navbar-form.navbar-left input[type="search"]{
    padding-left: 10px;
}

.widget_search input[type="search"],
input.form-control.form-inner-text {
    line-height: 45px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.news-content{
    padding: 12px;
}
.footer-widget-area .widget_recent_comments ul li a,
.widget ul li a,
.news-content h3.news-title,
.news-content p,
.page-header .page-title,
.news-single .news-entry p,
.given-comment .comments p{
    word-break: break-all;
}
.widget .textwidget img{
	width:100%;
	height:100%;
}
.widget form select{
	width:100%;
}
.footer-widget-area .widget select{
	color:#777;
}
.container .news-list .category-sticky {
    border: 1px solid #ddd;
    background: #fafafa;
}
table {
    margin: 20px 0;
    width: 100%;
	
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    table-layout: fixed;
}
table td, table th{
	padding: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    line-height: 18px;
}
/*=======================================
	4 - Gallery
=========================================*/
.gallery {
    margin: 0 -1.1666667% 1.75em;
	display: inline-block;
	margin: 0 -1.1666667% 1.75em;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery {
	margin: 0 -1.1666667% 1.75em;
}

.gallery-item {
	display: inline-block;
	max-width: 33.33%;
	padding: 0 1.1400652% 2.2801304%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #686868;
	display: block;
	
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 0.5384615385em;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
/*=======================================
	5 - Post Entry
=========================================*/
.news-entry iframe {
    width: 100%;
}
.news-list .category-sticky p{
	margin-right:5px;
}
.news-single .page-links{
	margin-top: 20px;
}
.news-single img {
    max-width: 100%;
	height: auto;
    margin-bottom: 25px;
}
.news-entry figure.wp-caption {
	max-width: 100% !important;
}
.alignleft {
    float: left;
    margin: .5em 20px .5em 0;
}
.alignright {
    float: right;
    margin: .5em 0 .5em 20px;
}
.aligncenter {
    display: block;
    float: none;
    margin-top: .5em;
    margin-right: auto!important;
    margin-bottom: .5em;
    margin-left: auto!important;
}
.widget_bigshow_appstore_widget form{
    float: left;
    width: 100%;
    clear: both;  
}
.widget_bigshow_appstore_widget form .mc4wp-form-fields [type=email]{
    border: 2px solid rgba(255, 255, 255, 0.15);
    line-height: 41px;
    height: 45px;
    padding: 0 15px;
    background-color: transparent;
    float: left;
    width: calc(100% - 70px) !important;
    margin-right: 10px;
}
.widget_bigshow_appstore_widget form [type=submit] {
    width: 60px;
    line-height: 41px;
    height: 45px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    color: #eb1436;
    font-size: 1.8rem;
    background-color: transparent;
}
.footer-widget-area .widget_bigshow_appstore_widget .apptitle{
	margin-top:15px;
}

.news-section .col-md-6 + .col-md-6 + .col-md-6 > .news-item{
	margin-top: 30px;
}
.wp-caption-text,
.sticky,
.screen-reader-text,
.bypostauthor{} 
.widget_categories .screen-reader-text,
.widget_archive .screen-reader-text {
	display: none;
}
.widget ul {
	padding-left: 20px;
}
.widget ul ul {
	padding-left: 15px;
}
.widget ul li {
	line-height: 26px;
}
.widget_tag_cloud .tagcloud a {
	font-size: 15px !important;
}
.footer-widget-area .col-md-4 + .col-md-4 {
	margin-bottom: 40px;
}
.pagination .page-number span {
	line-height: 100%;
}
.news-entry > ul,
.news-entry > ol {
	padding-left: 20px;
}
.news-entry ul ul,
.news-entry ul ol,
.news-entry ol ul,
.news-entry ol ol {
	padding-left: 15px;
}
.news-single-main .news-entry li span {
	font-size: 14px !important;
}
.post-password-form input[type='password'] {
	padding: 8px 15px;
	border: 1px solid #eb1436;
}
.post-password-form input[type='submit'] {
	background: #eb1436;
	outline: none;
	border: none;
	color: #fff;
	padding: 8px 15px;
}
.page-content > dl dt,
.page-content > dl dd,
.news-entry > dl dt,
.news-entry > dl dd,
.comment-content > dl dt,
.comment-content > dl dd {
	margin-bottom: 10px;
}
.given-comment ul.children {
	list-style: none;
	display: inline-block;
	width: 100%;
}
.comment-content ul,
.comment-content ol,
.page-content ul,
.page-content ol {
	margin-left: 0;
	padding-left: 20px;
}
.comment-content ul li,
.comment-content ol li,
.news-entry ul li,
.news-entry ol li,
.page-content ul li,
.page-content ol li {
	line-height: 24px;
}
.comment-content ul {
	list-style: disc;
}
.comment-content ol {
	list-style: decimal;
}
.comment-respond {
	display: inline-block;
	width: 100%;
	clear: both;
}
.comment-respond .comment-reply-title {
	display: inline-block;
	width: 100%;
}
.news-section .news-item .news-thumb img {
	min-height: 160px;
	object-fit: cover;
}
.widget_bigshow_recent_post .widget-thumb img {
	min-height: 70px;
	object-fit: cover;
}
.sidebar .widget .cat-item a {
    color: #505050;
    font-weight: 400;
    display: inline-block;
    line-height: 2;
}
.sidebar .widget .cat-item a:hover {
	color: #eb1436;
}
.sidebar .widget_tag_cloud .tagcloud a {
	display: inline-block;
    color: #505050;
    height: 35px;
    line-height: 33px;
    border: 1px solid #e1e1e1;
    border-radius: 17px;
    padding: 0 17px;
    float: left;
    margin: 5px;
}
.sidebar .widget_tag_cloud .tagcloud a:hover {
    color: #ffffff;
    background-color: #eb1436;
    border-color: #eb1436;
}
/*================================================
			Contact form
==================================================*/

input[type=submit].wpcf7-form-control{
	padding: 0 42px;
	color:#fff;
}